<div class="menu">
    <ul>
        {% for item in menuList %}
            {% if item.type == 'item' %}
                <li class="menu-item">
                    <a href="/{{ item.uri }}">
                        <span class="menu-item-icon"></span>
                        <p>{{ item.title }}</p>
                    </a>
                </li>
            {% elseif item.type == 'section' %}
                <li class="menu-section">
                    <p class="">{{ item.title|upper }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
