<!doctype html>
<html lang="en">
{% include "block--head.twig" %}
<body>
{% include "block--header.twig" %}
{% include "block--menu-aside.twig" %}
{% block content %} {% endblock %}
{% include "block--footer.twig" %}
</body>
</html>