{% extends "layout--main.twig" %}



{% block content %}
<form action="login" method="post">
    <label for="user_name">User email</label>
    <input type="text" name="email" {{ formOut == 3 ? 'value='~formParams['email']|escape~'' : '' }}>

    <label for="user_name">Password</label>
    <input type="password" name="password">
    {% if formOut == 3  %}
        <p>Incorrect email or password</p>
    {% endif %}

    <button type="submit">Login</button>
</form>
{% endblock %}

